In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [28]:
# Loading data
file_path = r'C:\Users\kimre\Desktop\diabetes_prediction_cleaned.csv'
data = pd.read_csv(file_path)
data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,hba1c_level,blood_glucose_level,diabetes_status
0,1,80.0,0,1,0,2,2,2,0
1,1,54.0,0,0,1,2,2,0,0
2,0,28.0,0,0,0,2,1,2,0
3,1,36.0,0,0,2,1,0,2,0
4,0,76.0,1,1,2,1,0,2,0

In [14]:
# Define features set
X = data.copy()

X.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,hba1c_level,blood_glucose_level,diabetes_status
0,1,80.0,0,1,0,2,2,2,0
1,1,54.0,0,0,1,2,2,0,0
2,0,28.0,0,0,0,2,1,2,0
3,1,36.0,0,0,2,1,0,2,0
4,0,76.0,1,1,2,1,0,2,0

In [33]:
# Define target vector
y = data['diabetes_status'].values.reshape(-1,1)
y[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]], dtype=int64)

In [34]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [19]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [35]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [36]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [38]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [39]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [40]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        22913            0
Actual 1            0         2087

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     22913
           1       1.00      1.00      1.00      2087

    accuracy                           1.00     25000
   macro avg       1.00      1.00      1.00     25000
weighted avg       1.00      1.00      1.00     25000